* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
}

.app-container {
  min-height: 100vh;
}

.home-container {
  padding: 2rem;
}

/* ---------------------------TOPBAR--------------------------- */
.topbar {
  height: 70px;
  background-color: #1e293b;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid #334155;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
}

/* ---------------------------SEARCH BAR--------------------------- */
.search-section {
  margin-bottom: 2rem;
}

.search-input {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
}

/* ---------------------------WEATHER INFO--------------------------- */
.weather-card {
  background-color: #1e293b;
  padding: 2rem;
  border-radius: 20px;
  margin-bottom: 2rem;
}
.weather-details {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.forecast-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  margin-bottom: 2rem;
}
.forecast-card {
  min-width: 140px;
  background-color: #1e293b;
  padding: 1rem;
  border-radius: 15px;
}

/* ---------------------------MAP--------------------------- */
.map-container {
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}